@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600);

html {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    min-width: 800px;
    margin: auto;
    background-color: #EEEEEE;
}

.content-area {
    background-color: #FFFFFF;
    min-height: 500px;
    padding: 20px 50px 80px 50px;
}

footer {
    text-align: center;
    padding: 5px;
}


/* -------------------- Navigation Bar -------------------- */

.navbar {
    background-color: #2E2E2E;
    padding-top: 6px;
    text-transform: lowercase;
}

.navbar ul {
    text-align: center;
}

.navbar li {
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 100%;
}

.navbar a:link , .navbar a:visited {
    color: #EFEFEF;
}

.navbar a:hover , .navbar a:active {
    color: rgb(20,156,250);
}

.navbar .active {
    color: #FFFFFF;
    display: inline-block;
    padding-bottom: 3px;
    border-bottom: 3px solid rgb(20,156,250);
}

/* -------------------- End Of Navigation Bar -------------------- */





/* -------------------- Cover -------------------- */

.cover h2, .cover h3, .cover h4 {
    text-align: center;
}

.cover h2 {
    font-size: 225%;
    padding: 50px 0px;
    line-height: 1.5;
    color: rgb(20, 80, 150)
}
.cover h3 {
    font-size: 110%;
    padding: 15px 0px 5px 0px;
}
.cover h4 {
    font-size: 90%;
    padding: 5px 0px;
}
.cover p{
    font-size: 100%;
    text-align: left;
    max-width: 800px;
    margin: auto;
    line-height: 1.8;
    text-indent: 20px;
    padding-top: 10px;
}

/* -------------------- End Of Cover -------------------- */





/* -------------------- Question -------------------- */
.question {
    padding-top: 20px;
    padding-bottom: 10px;
}

.question p {
    font-size: 100%;
    line-height: 1.5;
    margin: 15px 50px;
    color: rgb(48, 48, 64);
}

.question h3 {
    line-height: 1.5;
    font-size: 110%;
    margin: 35px 0px 15px 0px;
    border-bottom: 2px solid rgb(86, 160, 92);
    color: rgb(16,48,16)
}

.question h4 {
    font-size: 100%;
    line-height: 1.5;
    margin: 20px 50px 5px 50px;
    border-bottom: 1px solid rgb(56, 144, 248);
    display: inline-block;
    cursor: pointer;
    color: rgb(48, 48, 64);
}

.question li h5 {
    font-size: 100%;
    border-bottom: 1px solid rgb(255, 175, 80);
    display: inline-block;
    color: rgb(48, 48, 64);
}

.question li {
    padding-left: 20px;
}

.question > ul {
    list-style: square;
    list-style-position: inside;
    line-height: 1.5;
    margin: 0px 50px;
    color: rgb(48, 48, 64);
}

.question td {
    padding: 6px 18px;
    text-align: center;
    line-height: 1.5;
    font-size: 100%;
}

.question a:link, .question a:visited {
    color: rgb(50, 170, 230);
    font-size: 100%;
}

.question .initially-hidden {
    display: none;
}

/* -------------------- End Of Question -------------------- */

